In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
wildfire_2019_2022 = pd.read_csv('wildfire_2019_2022.csv')
wildfire_2019_2022

,incident_name,incident_is_final,incident_date_last_update,incident_date_created,incident_administrative_unit,incident_administrative_unit_url,incident_county,incident_location,incident_acres_burned,incident_containment,...,incident_latitude,incident_type,incident_id,incident_url,incident_date_extinguished,incident_dateonly_extinguished,incident_dateonly_created,is_active,calfire_incident,notification_desired
0,Bridge Fire,Y,2018-01-09T13:46:00Z,2017-10-31T11:22:00Z,Shasta-Trinity National Forest,NaN,Shasta,"I-5 and Turntable Bay, 7 miles NE of Shasta Lake",37.0,100.0,...,40.774000,NaN,2ca11d45-8139-4c16-8af0-880d99b21e82,https://www.fire.ca.gov/incidents/2017/10/31/b...,2018-01-09T13:46:00Z,2018-01-09,2017-10-31,N,False,False
1,Pala Fire,Y,2020-09-16T14:07:35Z,2009-05-24T14:56:00Z,CAL FIRE San Diego Unit,NaN,San Diego,"Hwy 76 and Pala Temecula, northwest of Pala",122.0,100.0,...,1.000000,Wildfire,8f61f461-552d-4538-b186-35ab030da416,https://www.fire.ca.gov/incidents/2009/5/24/pa...,2009-05-25T00:00:00Z,2009-05-25,2009-05-24,N,True,False
2,River Fire,Y,2022-10-24T11:39:23Z,2013-02-24T08:16:00Z,CAL FIRE San Bernardino Unit,NaN,Inyo,"south of Narrow Gauge Rd & north of Hwy 136, e...",407.0,100.0,...,36.602575,NaN,094719ba-a47b-4abb-9ec5-a506b2b9fd23,https://www.fire.ca.gov/incidents/2013/2/24/ri...,2013-02-28T20:00:00Z,2013-02-28,2013-02-24,N,True,False
3,Fawnskin Fire,Y,2013-04-22T09:00:00Z,2013-04-20T17:30:00Z,San Bernardino National Forest,NaN,San Bernardino,"west of Delamar Mountain, north of the communi...",30.0,100.0,...,34.288877,NaN,58f89ff8-bd3e-4355-b1c0-8fa05c747d3f,https://www.fire.ca.gov/incidents/2013/4/20/fa...,2013-04-22T09:00:00Z,2013-04-22,2013-04-20,N,False,False
4,Gold Fire,Y,2013-05-01T07:00:00Z,2013-04-30T12:59:00Z,CAL FIRE Madera-Mariposa-Merced Unit,NaN,Madera,Between Road 210 and Road 200 near Fine Gold C...,274.0,100.0,...,37.116295,NaN,357ffc13-bef9-48eb-810f-c5de851972eb,https://www.fire.ca.gov/incidents/2013/4/30/go...,2013-05-01T07:00:00Z,2013-05-01,2013-04-30,N,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2794,Michigan Fire,Y,2024-11-22T13:41:44Z,2024-11-21T13:40:43Z,CAL FIRE Amador-El Dorado Unit,NaN,Amador,"Hwy 104 west of Michigan Bar Rd, Northwest of ...",24.0,100.0,...,38.379304,Wildfire,ee8b1361-f3a8-4d56-a043-d54bbd3e3d4e,https://www.fire.ca.gov/incidents/2024/11/21/m...,NaN,NaN,2024-11-21,N,True,False
2795,Broadway Fire,Y,2024-11-23T12:48:24Z,2024-11-21T14:20:12Z,CAL FIRE San Benito-Monterey Unit,NaN,Monterey,"Broadway St. and San Antonio Dr., King City",57.0,100.0,...,36.203824,Wildfire,f20ead25-443a-4527-8f1e-d8947f8b4e24,https://www.fire.ca.gov/incidents/2024/11/21/b...,2024-11-23T07:00:00Z,2024-11-23,2024-11-21,N,True,False
2796,Canal Fire,Y,2024-11-22T20:12:42Z,2024-11-22T13:35:12Z,CAL FIRE Madera-Mariposa-Merced Unit,NaN,Madera,"Road 400 near Road 33, Madera",34.0,100.0,...,37.051003,Wildfire,18caa406-cd3d-4080-88c6-74ba37a456cf,https://www.fire.ca.gov/incidents/2024/11/22/c...,NaN,NaN,2024-11-22,N,True,False
2797,Border 77 Fire,Y,2024-11-24T19:41:22Z,2024-11-23T15:22:09Z,CAL FIRE San Diego Unit,NaN,San Diego,Otay Mountain Truck Trail and Kuebler Ranch Ro...,98.0,100.0,...,32.589200,Wildfire,5d5a2374-c01e-4d87-9cf5-71dd9cce0c9a,https://www.fire.ca.gov/incidents/2024/11/23/b...,2024-11-24T19:41:08Z,2024-11-24,2024-11-23,N,True,False
2798,Canyon Crest Fire,Y,2024-12-01T20:59:53Z,2024-11-28T20:04:37Z,"Unified Command: San Bernardino County Fire, C...",NaN,"Riverside, San Bernardino","North of Highway 60, near Canyon Crest Drive i...",254.0,100.0,...,34.034077,Wildfire,3d2b78af-b20b-4aaa-8f93-9ac3097cd705,https://www.fire.ca.gov/incidents/2024/11/28/c...,NaN,NaN,2024-11-28,N,False,False

In [8]:
# select the first 10 characters of incident_date_created column 
wildfire_2019_2022['incident_date_created'] = wildfire_2019_2022['incident_date_created'].str[:10]
wildfire_2019_2022
# add year column and month column using the first 4 characters and the 6th and 7th characters of incident_date_created column
wildfire_2019_2022['year'] = wildfire_2019_2022['incident_date_created'].str[:4]
wildfire_2019_2022['month'] = wildfire_2019_2022['incident_date_created'].str[5:7]
wildfire_2019_2022

,incident_name,incident_is_final,incident_date_last_update,incident_date_created,incident_administrative_unit,incident_administrative_unit_url,incident_county,incident_location,incident_acres_burned,incident_containment,...,incident_id,incident_url,incident_date_extinguished,incident_dateonly_extinguished,incident_dateonly_created,is_active,calfire_incident,notification_desired,year,month
0,Bridge Fire,Y,2018-01-09T13:46:00Z,2017-10-31,Shasta-Trinity National Forest,NaN,Shasta,"I-5 and Turntable Bay, 7 miles NE of Shasta Lake",37.0,100.0,...,2ca11d45-8139-4c16-8af0-880d99b21e82,https://www.fire.ca.gov/incidents/2017/10/31/b...,2018-01-09T13:46:00Z,2018-01-09,2017-10-31,N,False,False,2017,10
1,Pala Fire,Y,2020-09-16T14:07:35Z,2009-05-24,CAL FIRE San Diego Unit,NaN,San Diego,"Hwy 76 and Pala Temecula, northwest of Pala",122.0,100.0,...,8f61f461-552d-4538-b186-35ab030da416,https://www.fire.ca.gov/incidents/2009/5/24/pa...,2009-05-25T00:00:00Z,2009-05-25,2009-05-24,N,True,False,2009,05
2,River Fire,Y,2022-10-24T11:39:23Z,2013-02-24,CAL FIRE San Bernardino Unit,NaN,Inyo,"south of Narrow Gauge Rd & north of Hwy 136, e...",407.0,100.0,...,094719ba-a47b-4abb-9ec5-a506b2b9fd23,https://www.fire.ca.gov/incidents/2013/2/24/ri...,2013-02-28T20:00:00Z,2013-02-28,2013-02-24,N,True,False,2013,02
3,Fawnskin Fire,Y,2013-04-22T09:00:00Z,2013-04-20,San Bernardino National Forest,NaN,San Bernardino,"west of Delamar Mountain, north of the communi...",30.0,100.0,...,58f89ff8-bd3e-4355-b1c0-8fa05c747d3f,https://www.fire.ca.gov/incidents/2013/4/20/fa...,2013-04-22T09:00:00Z,2013-04-22,2013-04-20,N,False,False,2013,04
4,Gold Fire,Y,2013-05-01T07:00:00Z,2013-04-30,CAL FIRE Madera-Mariposa-Merced Unit,NaN,Madera,Between Road 210 and Road 200 near Fine Gold C...,274.0,100.0,...,357ffc13-bef9-48eb-810f-c5de851972eb,https://www.fire.ca.gov/incidents/2013/4/30/go...,2013-05-01T07:00:00Z,2013-05-01,2013-04-30,N,True,False,2013,04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2794,Michigan Fire,Y,2024-11-22T13:41:44Z,2024-11-21,CAL FIRE Amador-El Dorado Unit,NaN,Amador,"Hwy 104 west of Michigan Bar Rd, Northwest of ...",24.0,100.0,...,ee8b1361-f3a8-4d56-a043-d54bbd3e3d4e,https://www.fire.ca.gov/incidents/2024/11/21/m...,NaN,NaN,2024-11-21,N,True,False,2024,11
2795,Broadway Fire,Y,2024-11-23T12:48:24Z,2024-11-21,CAL FIRE San Benito-Monterey Unit,NaN,Monterey,"Broadway St. and San Antonio Dr., King City",57.0,100.0,...,f20ead25-443a-4527-8f1e-d8947f8b4e24,https://www.fire.ca.gov/incidents/2024/11/21/b...,2024-11-23T07:00:00Z,2024-11-23,2024-11-21,N,True,False,2024,11
2796,Canal Fire,Y,2024-11-22T20:12:42Z,2024-11-22,CAL FIRE Madera-Mariposa-Merced Unit,NaN,Madera,"Road 400 near Road 33, Madera",34.0,100.0,...,18caa406-cd3d-4080-88c6-74ba37a456cf,https://www.fire.ca.gov/incidents/2024/11/22/c...,NaN,NaN,2024-11-22,N,True,False,2024,11
2797,Border 77 Fire,Y,2024-11-24T19:41:22Z,2024-11-23,CAL FIRE San Diego Unit,NaN,San Diego,Otay Mountain Truck Trail and Kuebler Ranch Ro...,98.0,100.0,...,5d5a2374-c01e-4d87-9cf5-71dd9cce0c9a,https://www.fire.ca.gov/incidents/2024/11/23/b...,2024-11-24T19:41:08Z,2024-11-24,2024-11-23,N,True,False,2024,11
2798,Canyon Crest Fire,Y,2024-12-01T20:59:53Z,2024-11-28,"Unified Command: San Bernardino County Fire, C...",NaN,"Riverside, San Bernardino","North of Highway 60, near Canyon Crest Drive i...",254.0,100.0,...,3d2b78af-b20b-4aaa-8f93-9ac3097cd705,https://www.fire.ca.gov/incidents/2024/11/28/c...,NaN,NaN,2024-11-28,N,False,False,2024,11

In [10]:
# create a new dataframe with year, month, and incident counts
wildfire_2019_2022_monthly = wildfire_2019_2022.groupby(['year', 'month']).size().reset_index(name='incident_count')
wildfire_2019_2022_monthly

     year month  incident_count
0    1969    12               2
1    2009    05               1
2    2013    02               1
3    2013    04               3
4    2013    05              24
..    ...   ...             ...
112  2024    07             179
113  2024    08              88
114  2024    09              53
115  2024    10              45
116  2024    11              26

[117 rows x 3 columns]

In [11]:
# select year 2019 to 2022
wildfire_2019_2022_monthly = wildfire_2019_2022_monthly[(wildfire_2019_2022_monthly['year'] >= '2019') & (wildfire_2019_2022_monthly['year'] <= '2022')]
wildfire_2019_2022_monthly

    year month  incident_count
59  2019    01               1
60  2019    04               3
61  2019    05              13
62  2019    06              41
63  2019    07              47
64  2019    08              45
65  2019    09              52
66  2019    10              55
67  2019    11               6
68  2020    02               5
69  2020    03               4
70  2020    04               4
71  2020    05              10
72  2020    06              72
73  2020    07              57
74  2020    08              59
75  2020    09              21
76  2020    10              16
77  2020    11               3
78  2020    12               8
79  2021    01              10
80  2021    03               3
81  2021    04              10
82  2021    05              24
83  2021    06              51
84  2021    07              36
85  2021    08              28
86  2021    09              14
87  2021    10               9
88  2021    11               1
89  2022    01               1
90  2022    02               2
91  2022    03               8
92  2022    04               4
93  2022    05              17
94  2022    06              33
95  2022    07              34
96  2022    08              25
97  2022    09              24
98  2022    10               2

In [12]:
# to csv
wildfire_2019_2022_monthly.to_csv('wildfire_2019_2022_monthly.csv', index=False)

In [13]:
# read airquality_2019, airquality_2020, airquality_2021, airquality_2022 csv files
airquality_2019 = pd.read_csv('airquality_2019.csv')
airquality_2020 = pd.read_csv('airquality_2020.csv')
airquality_2021 = pd.read_csv('airquality_2021.csv')
airquality_2022 = pd.read_csv('airquality_2022.csv')
airquality_2019

,Date Time,Site Name,Value,Averaging Period,Units,California State Standard,National Ambient Air Quality Standard by U.S. EPA,Unnamed: 7
0,4/1/2019 12:00:00 AM,Banning,8,1-hr,µg/m3,NaN,NaN,NaN
1,4/1/2019 1:00:00 AM,Banning,8,1-hr,µg/m3,NaN,NaN,NaN
2,4/1/2019 2:00:00 AM,Banning,8,1-hr,µg/m3,NaN,NaN,NaN
3,4/1/2019 3:00:00 AM,Banning,7,1-hr,µg/m3,NaN,NaN,NaN
4,4/1/2019 4:00:00 AM,Banning,11,1-hr,µg/m3,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
4343,10/1/2019 7:00:00 PM,Banning,9,1-hr,µg/m3,NaN,NaN,NaN
4344,10/1/2019 8:00:00 PM,Banning,9,1-hr,µg/m3,NaN,NaN,NaN
4345,10/1/2019 9:00:00 PM,Banning,8,1-hr,µg/m3,NaN,NaN,NaN
4346,10/1/2019 10:00:00 PM,Banning,8,1-hr,µg/m3,NaN,NaN,NaN
4347,10/1/2019 11:00:00 PM,Banning,15,1-hr,µg/m3,NaN,NaN,NaN

In [14]:
airquality_2020

,Date,Source,Site ID,POC,Daily Mean PM2.5 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,1/1/2020,AQS,60010007,3,8.6,ug/m3 LC,36,Livermore,1,100,88101,PM2.5 - Local Conditions,41860.0,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
1,1/2/2020,AQS,60010007,3,4.5,ug/m3 LC,19,Livermore,1,100,88101,PM2.5 - Local Conditions,41860.0,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
2,1/3/2020,AQS,60010007,3,14.2,ug/m3 LC,55,Livermore,1,100,88101,PM2.5 - Local Conditions,41860.0,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
3,1/4/2020,AQS,60010007,3,10.9,ug/m3 LC,45,Livermore,1,100,88101,PM2.5 - Local Conditions,41860.0,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
4,1/5/2020,AQS,60010007,3,7.8,ug/m3 LC,33,Livermore,1,100,88101,PM2.5 - Local Conditions,41860.0,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30510,3/28/2020,AQS,61131003,1,1.0,ug/m3 LC,4,Woodland-Gibson Road,1,100,88101,PM2.5 - Local Conditions,40900.0,"Sacramento--Roseville--Arden-Arcade, CA",6,California,113,Yolo,38.661210,-121.732690
30511,4/3/2020,AQS,61131003,1,1.0,ug/m3 LC,4,Woodland-Gibson Road,1,100,88101,PM2.5 - Local Conditions,40900.0,"Sacramento--Roseville--Arden-Arcade, CA",6,California,113,Yolo,38.661210,-121.732690
30512,4/15/2020,AQS,61131003,1,6.5,ug/m3 LC,27,Woodland-Gibson Road,1,100,88101,PM2.5 - Local Conditions,40900.0,"Sacramento--Roseville--Arden-Arcade, CA",6,California,113,Yolo,38.661210,-121.732690
30513,4/21/2020,AQS,61131003,1,7.2,ug/m3 LC,30,Woodland-Gibson Road,1,100,88101,PM2.5 - Local Conditions,40900.0,"Sacramento--Roseville--Arden-Arcade, CA",6,California,113,Yolo,38.661210,-121.732690
30514,4/27/2020,AQS,61131003,1,5.5,ug/m3 LC,23,Woodland-Gibson Road,1,100,88101,PM2.5 - Local Conditions,40900.0,"Sacramento--Roseville--Arden-Arcade, CA",6,California,113,Yolo,38.661210,-121.732690

In [15]:
airquality_2021

,County,AB617Community,DataProvider,Site,Latitude,Longitude,Elevation,Instrument,MonitorId,ParameterId,...,Units,AdjustmentDesc,LowerLimitCheck,UpperLimitCheck,RepeatValueCheck,SpikeCheck,DataProviderFlag,QC1Result,VerifiedByProvider,LastUpdateDate
0,Kern,Shafter,San Joaquin Valley APCD,Grimmway Elementary,35.4912,-119.2871,105,Met One BAM 1022,BAM 1022,88101,...,ug/m3 (LC),NaN,Pass,Pass,Pass,Pass,NaN,Pass,NaN,NaN
1,Kern,Shafter,San Joaquin Valley APCD,Shafter DMV,35.5033,-119.2725,108,Met One BAM 1022,BAM 1022,88101,...,ug/m3 (LC),NaN,Pass,Pass,Pass,Pass,NaN,Pass,NaN,NaN
2,Kern,Shafter,San Joaquin Valley APCD,Grimmway Elementary,35.4912,-119.2871,105,Met One BAM 1022,BAM 1022,88101,...,ug/m3 (LC),NaN,Pass,Pass,Pass,Pass,NaN,Pass,NaN,NaN
3,Kern,Shafter,San Joaquin Valley APCD,Shafter DMV,35.5033,-119.2725,108,Met One BAM 1022,BAM 1022,88101,...,ug/m3 (LC),NaN,Pass,Pass,Pass,Pass,NaN,Pass,NaN,NaN
4,Kern,Shafter,San Joaquin Valley APCD,Grimmway Elementary,35.4912,-119.2871,105,Met One BAM 1022,BAM 1022,88101,...,ug/m3 (LC),NaN,Pass,Pass,Pass,Pass,NaN,Pass,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24207,Kern,Shafter,San Joaquin Valley APCD,Grimmway Elementary,35.4912,-119.2871,105,Met One BAM 1022,BAM 1022,88101,...,ug/m3 (LC),NaN,Pass,Pass,Pass,Pass,NaN,Pass,NaN,NaN
24208,Kern,Shafter,San Joaquin Valley APCD,Shafter DMV,35.5033,-119.2725,108,Met One BAM 1022,BAM 1022,88101,...,ug/m3 (LC),NaN,Pass,Pass,Pass,Pass,NaN,Pass,NaN,NaN
24209,Kern,Shafter,San Joaquin Valley APCD,Golden Oak Elementary,35.4993,-119.2826,107,Met One BAM 1022,BAM 1022,88101,...,ug/m3 (LC),NaN,Pass,Pass,Pass,Pass,NaN,Pass,NaN,NaN
24210,Kern,Shafter,San Joaquin Valley APCD,Grimmway Elementary,35.4912,-119.2871,105,Met One BAM 1022,BAM 1022,88101,...,ug/m3 (LC),NaN,Pass,Pass,Pass,Pass,NaN,Pass,NaN,NaN
24211,Kern,Shafter,San Joaquin Valley APCD,Shafter DMV,35.5033,-119.2725,108,Met One BAM 1022,BAM 1022,88101,...,ug/m3 (LC),NaN,Pass,Pass,Pass,Pass,NaN,Pass,NaN,NaN

In [16]:
airquality_2022

,County,AB617Community,DataProvider,Site,Latitude,Longitude,Elevation,Instrument,MonitorId,ParameterId,...,Units,AdjustmentDesc,LowerLimitCheck,UpperLimitCheck,RepeatValueCheck,SpikeCheck,DataProviderFlag,QC1Result,VerifiedByProvider,LastUpdateDate
0,Kern,Shafter,San Joaquin Valley APCD,Golden Oak Elementary,35.4993,-119.2826,107,Met One BAM 1022,BAM 1022,88101,...,ug/m3 (LC),NaN,Pass,Pass,Pass,Pass,NaN,Pass,NaN,NaN
1,Kern,Shafter,San Joaquin Valley APCD,Grimmway Elementary,35.4912,-119.2871,105,Met One BAM 1022,BAM 1022,88101,...,ug/m3 (LC),NaN,Pass,Pass,Pass,Pass,NaN,Pass,NaN,NaN
2,Kern,Shafter,San Joaquin Valley APCD,Shafter DMV,35.5033,-119.2725,108,Met One BAM 1022,BAM 1022,88101,...,ug/m3 (LC),NaN,Pass,Pass,Pass,Pass,NaN,Pass,NaN,NaN
3,Kern,Shafter,San Joaquin Valley APCD,Golden Oak Elementary,35.4993,-119.2826,107,Met One BAM 1022,BAM 1022,88101,...,ug/m3 (LC),NaN,Pass,Pass,Pass,Pass,NaN,Pass,NaN,NaN
4,Kern,Shafter,San Joaquin Valley APCD,Grimmway Elementary,35.4912,-119.2871,105,Met One BAM 1022,BAM 1022,88101,...,ug/m3 (LC),NaN,Pass,Pass,Pass,Pass,NaN,Pass,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37953,Kern,"Arvin, Lamont",San Joaquin Valley APCD,Kern Oil Refinery,35.2833,-118.9138,121,Met One BAM 1022,BAM 1022,88101,...,ug/m3 (LC),NaN,Pass,Pass,Pass,Pass,NaN,Pass,NaN,NaN
37954,Kern,Shafter,San Joaquin Valley APCD,Golden Oak Elementary,35.4993,-119.2826,107,Met One BAM 1022,BAM 1022,88101,...,ug/m3 (LC),NaN,Pass,Pass,Pass,Pass,NaN,Pass,NaN,NaN
37955,Kern,Shafter,San Joaquin Valley APCD,Grimmway Elementary,35.4912,-119.2871,105,Met One BAM 1022,BAM 1022,88101,...,ug/m3 (LC),NaN,Pass,Pass,Pass,Pass,NaN,Pass,NaN,NaN
37956,Kern,Shafter,San Joaquin Valley APCD,Shafter DMV,35.5033,-119.2725,108,Met One BAM 1022,BAM 1022,88101,...,ug/m3 (LC),NaN,Pass,Pass,Pass,Pass,NaN,Pass,NaN,NaN
37957,Kern,"Arvin, Lamont",San Joaquin Valley APCD,El Camino Real Elementary School,35.1863,-118.8336,150,Met One BAM 1022,BAM 1022,88101,...,ug/m3 (LC),NaN,Pass,Pass,Pass,Pass,NaN,Pass,NaN,NaN

In [28]:
# read monthly_pm25_2019, monthly_pm25_2020, monthly_pm25_2021, monthly_pm25_2022 csv files
monthly_pm25_2019 = pd.read_csv('monthly_pm25_2019.csv')
monthly_pm25_2020 = pd.read_csv('monthly_pm25_2020.csv')
monthly_pm25_2021 = pd.read_csv('monthly_pm25_2021.csv')
monthly_pm25_2022 = pd.read_csv('monthly_pm25_2022.csv')
monthly_pm25_2019
# add year column with value 2019
monthly_pm25_2019['year'] = '2019'
# rename the column Value to pm25
monthly_pm25_2019 = monthly_pm25_2019.rename(columns={'Value':'pm25'})
monthly_pm25_2019

   Month       pm25  year
0      4   8.415966  2019
1      5   9.385656  2019
2      6  13.685315  2019
3      7  12.032832  2019
4      8   9.765110  2019
5      9   9.265423  2019
6     10   9.625000  2019

In [29]:
monthly_pm25_2020
monthly_pm25_2020['year'] = '2020'
monthly_pm25_2020 = monthly_pm25_2020.rename(columns={'PM2.5':'pm25'})

In [30]:
monthly_pm25_2021
monthly_pm25_2021['year'] = '2021'
monthly_pm25_2021.rename(columns={'MeasuredValue':'pm25'}, inplace=True)

In [31]:
monthly_pm25_2022
monthly_pm25_2022['year'] = '2022'
monthly_pm25_2022.rename(columns={'MeasuredValue':'pm25'}, inplace=True)

In [32]:
# merge the above 4 dataframes
monthly_pm25 = pd.concat([monthly_pm25_2019, monthly_pm25_2020, monthly_pm25_2021, monthly_pm25_2022])
monthly_pm25

    Month       pm25  year
0       4   8.415966  2019
1       5   9.385656  2019
2       6  13.685315  2019
3       7  12.032832  2019
4       8   9.765110  2019
5       9   9.265423  2019
6      10   9.625000  2019
0       1   9.673817  2020
1       2   9.580467  2020
2       3   5.063355  2020
3       4   5.568353  2020
4       5   6.362969  2020
5       6   6.750483  2020
6       7   8.539670  2020
7       8  20.539210  2020
8       9  25.639518  2020
0       1  19.828424  2021
1       2  11.625170  2021
2       3   5.042195  2021
3       4   6.739724  2021
4       5   6.275901  2021
5       6   6.274295  2021
6       7   8.531293  2021
7       8  19.215579  2021
8       9  15.786287  2021
9      10  18.586917  2021
10     11  22.191185  2021
11     12  16.771047  2021
0       1  23.750893  2022
1       2  13.704501  2022
2       3   6.174958  2022
3       4   6.316225  2022
4       5   6.700091  2022
5       6   6.827763  2022
6       7   8.432662  2022
7       8   9.528675  2022
8       9  10.712849  2022
9      10   9.046885  2022
10     11  18.488736  2022
11     12  17.175593  2022

In [33]:
# rename Month to month
monthly_pm25 = monthly_pm25.rename(columns={'Month':'month'})
monthly_pm25.to_csv('monthly_pm25.csv', index=False)

In [34]:
# read care_enrollment
care_enrollment = pd.read_csv('care_enrollment.csv')
care_enrollment

,Enrollment Month,Plan Type,County,Plan Name,Count of Enrollees,Count of Enrollees Annotation Code,Count of Enrollees Annotation Description
0,2007-01,COHS,Orange,CalOPTIMA / Orange,"293,311",NaN,NaN
1,2007-01,COHS,Monterey,Central California Alliance for Health/Monterey,"53,819",NaN,NaN
2,2007-01,COHS,Santa Cruz,Central California Alliance for Health/Santa Cruz,"30,653",NaN,NaN
3,2007-01,COHS,San Mateo,Hlth Plan of San Mateo,"49,791",NaN,NaN
4,2007-01,COHS,Yolo,Partnership HealthPlan of CA/Yolo,"23,515",NaN,NaN
...,...,...,...,...,...,...,...
27271,2024-10,Special Project,Alameda,Center for Elders Independence/Alameda,862,NaN,NaN
27272,2024-10,Special Project,Contra Costa,Center for Elders Independence/Contra Costa,341,NaN,NaN
27273,2024-10,Special Project,Los Angeles,AltaMed Health Sr. Buena Care/Los Angeles,"4,437",NaN,NaN
27274,2024-10,Special Project,Los Angeles,Brandman Centers for Senior Care/Los Angeles,381,NaN,NaN
27275,2024-10,Special Project,Sacramento,Sutter SeniorCare/Sacramento,524,NaN,NaN

In [35]:
# read enrollment_trends_managed
enrollment_trends_managed = pd.read_csv('enrollment_trends_managed.csv')
enrollment_trends_managed

    Enrollment Month  Count of Enrollees
0            2007-01           3618401.0
1            2007-02           3617390.0
2            2007-03           3604938.0
3            2007-04           3619691.0
4            2007-05           3643554.0
..               ...                 ...
209          2024-06          14967738.0
210          2024-07          14953100.0
211          2024-08          14954912.0
212          2024-09          14938628.0
213          2024-10          14900236.0

[214 rows x 2 columns]

In [38]:
# add year and month
enrollment_trends_managed['year'] = enrollment_trends_managed['Enrollment Month'].str[:4]
enrollment_trends_managed['month'] = enrollment_trends_managed['Enrollment Month'].str[5:7]
enrollment_trends_managed

    Enrollment Month  Count of Enrollees  year month
0            2007-01           3618401.0  2007    01
1            2007-02           3617390.0  2007    02
2            2007-03           3604938.0  2007    03
3            2007-04           3619691.0  2007    04
4            2007-05           3643554.0  2007    05
..               ...                 ...   ...   ...
209          2024-06          14967738.0  2024    06
210          2024-07          14953100.0  2024    07
211          2024-08          14954912.0  2024    08
212          2024-09          14938628.0  2024    09
213          2024-10          14900236.0  2024    10

[214 rows x 4 columns]

In [40]:
# select year 2019 to 2022
enrollment_trends_managed = enrollment_trends_managed[(enrollment_trends_managed['year'] >= '2019') & (enrollment_trends_managed['year'] <= '2022')]
enrollment_trends_managed

    Enrollment Month  Count of Enrollees  year month
144          2019-01          11436025.0  2019    01
145          2019-02          11410099.0  2019    02
146          2019-03          11394630.0  2019    03
147          2019-04          11378198.0  2019    04
148          2019-05          11357031.0  2019    05
149          2019-06          11358916.0  2019    06
150          2019-07          11324535.0  2019    07
151          2019-08          11294600.0  2019    08
152          2019-09          11270336.0  2019    09
153          2019-10          11254439.0  2019    10
154          2019-11          11231137.0  2019    11
155          2019-12          11174167.0  2019    12
156          2020-01          11097188.0  2020    01
157          2020-02          11091570.0  2020    02
158          2020-03          11073882.0  2020    03
159          2020-04          11173608.0  2020    04
160          2020-05          11309614.0  2020    05
161          2020-06          11453845.0  2020    06
162          2020-07          11585294.0  2020    07
163          2020-08          11715387.0  2020    08
164          2020-09          11819704.0  2020    09
165          2020-10          11919836.0  2020    10
166          2020-11          12024110.0  2020    11
167          2020-12          12129048.0  2020    12
168          2021-01          12219131.0  2021    01
169          2021-02          12296610.0  2021    02
170          2021-03          12371782.0  2021    03
171          2021-04          12467012.0  2021    04
172          2021-05          12564836.0  2021    05
173          2021-06          12626725.0  2021    06
174          2021-07          12695994.0  2021    07
175          2021-08          12759281.0  2021    08
176          2021-09          12816248.0  2021    09
177          2021-10          12873427.0  2021    10
178          2021-11          12943074.0  2021    11
179          2021-12          13003746.0  2021    12
180          2022-01          13232736.0  2022    01
181          2022-02          13282825.0  2022    02
182          2022-03          13370350.0  2022    03
183          2022-04          13445613.0  2022    04
184          2022-05          13574717.0  2022    05
185          2022-06          13692880.0  2022    06
186          2022-07          13931657.0  2022    07
187          2022-08          14014132.0  2022    08
188          2022-09          14081474.0  2022    09
189          2022-10          14144890.0  2022    10
190          2022-11          14350386.0  2022    11
191          2022-12          14419488.0  2022    12

In [41]:
enrollment_trends_managed.to_csv('enrollment_trends_managed.csv', index=False)

In [43]:
# merge all the data using year and month
wildfire_2019_2022_monthly = pd.read_csv('wildfire_2019_2022_monthly.csv')
monthly_pm25 = pd.read_csv('monthly_pm25.csv')
enrollment_trends_managed = pd.read_csv('enrollment_trends_managed.csv')
wildfire_2019_2022_monthly

    year  month  incident_count
0   2019      1               1
1   2019      4               3
2   2019      5              13
3   2019      6              41
4   2019      7              47
5   2019      8              45
6   2019      9              52
7   2019     10              55
8   2019     11               6
9   2020      2               5
10  2020      3               4
11  2020      4               4
12  2020      5              10
13  2020      6              72
14  2020      7              57
15  2020      8              59
16  2020      9              21
17  2020     10              16
18  2020     11               3
19  2020     12               8
20  2021      1              10
21  2021      3               3
22  2021      4              10
23  2021      5              24
24  2021      6              51
25  2021      7              36
26  2021      8              28
27  2021      9              14
28  2021     10               9
29  2021     11               1
30  2022      1               1
31  2022      2               2
32  2022      3               8
33  2022      4               4
34  2022      5              17
35  2022      6              33
36  2022      7              34
37  2022      8              25
38  2022      9              24
39  2022     10               2

In [44]:
monthly_pm25

    month       pm25  year
0       4   8.415966  2019
1       5   9.385656  2019
2       6  13.685315  2019
3       7  12.032832  2019
4       8   9.765110  2019
5       9   9.265423  2019
6      10   9.625000  2019
7       1   9.673817  2020
8       2   9.580467  2020
9       3   5.063355  2020
10      4   5.568353  2020
11      5   6.362969  2020
12      6   6.750483  2020
13      7   8.539670  2020
14      8  20.539210  2020
15      9  25.639518  2020
16      1  19.828424  2021
17      2  11.625170  2021
18      3   5.042195  2021
19      4   6.739724  2021
20      5   6.275901  2021
21      6   6.274295  2021
22      7   8.531293  2021
23      8  19.215579  2021
24      9  15.786287  2021
25     10  18.586917  2021
26     11  22.191185  2021
27     12  16.771047  2021
28      1  23.750893  2022
29      2  13.704501  2022
30      3   6.174958  2022
31      4   6.316225  2022
32      5   6.700091  2022
33      6   6.827763  2022
34      7   8.432662  2022
35      8   9.528675  2022
36      9  10.712849  2022
37     10   9.046885  2022
38     11  18.488736  2022
39     12  17.175593  2022

In [45]:
enrollment_trends_managed

   Enrollment Month  Count of Enrollees  year  month
0           2019-01          11436025.0  2019      1
1           2019-02          11410099.0  2019      2
2           2019-03          11394630.0  2019      3
3           2019-04          11378198.0  2019      4
4           2019-05          11357031.0  2019      5
5           2019-06          11358916.0  2019      6
6           2019-07          11324535.0  2019      7
7           2019-08          11294600.0  2019      8
8           2019-09          11270336.0  2019      9
9           2019-10          11254439.0  2019     10
10          2019-11          11231137.0  2019     11
11          2019-12          11174167.0  2019     12
12          2020-01          11097188.0  2020      1
13          2020-02          11091570.0  2020      2
14          2020-03          11073882.0  2020      3
15          2020-04          11173608.0  2020      4
16          2020-05          11309614.0  2020      5
17          2020-06          11453845.0  2020      6
18          2020-07          11585294.0  2020      7
19          2020-08          11715387.0  2020      8
20          2020-09          11819704.0  2020      9
21          2020-10          11919836.0  2020     10
22          2020-11          12024110.0  2020     11
23          2020-12          12129048.0  2020     12
24          2021-01          12219131.0  2021      1
25          2021-02          12296610.0  2021      2
26          2021-03          12371782.0  2021      3
27          2021-04          12467012.0  2021      4
28          2021-05          12564836.0  2021      5
29          2021-06          12626725.0  2021      6
30          2021-07          12695994.0  2021      7
31          2021-08          12759281.0  2021      8
32          2021-09          12816248.0  2021      9
33          2021-10          12873427.0  2021     10
34          2021-11          12943074.0  2021     11
35          2021-12          13003746.0  2021     12
36          2022-01          13232736.0  2022      1
37          2022-02          13282825.0  2022      2
38          2022-03          13370350.0  2022      3
39          2022-04          13445613.0  2022      4
40          2022-05          13574717.0  2022      5
41          2022-06          13692880.0  2022      6
42          2022-07          13931657.0  2022      7
43          2022-08          14014132.0  2022      8
44          2022-09          14081474.0  2022      9
45          2022-10          14144890.0  2022     10
46          2022-11          14350386.0  2022     11
47          2022-12          14419488.0  2022     12

In [46]:
# merge them together using year and month
merged = pd.merge(wildfire_2019_2022_monthly, monthly_pm25, on=['year', 'month'], how='left')
merged = pd.merge(merged, enrollment_trends_managed, on=['year', 'month'], how='left')
merged

,year,month,incident_count,pm25,Enrollment Month,Count of Enrollees
0,2019,1,1,NaN,2019-01,11436025.0
1,2019,4,3,8.415966,2019-04,11378198.0
2,2019,5,13,9.385656,2019-05,11357031.0
3,2019,6,41,13.685315,2019-06,11358916.0
4,2019,7,47,12.032832,2019-07,11324535.0
5,2019,8,45,9.765110,2019-08,11294600.0
6,2019,9,52,9.265423,2019-09,11270336.0
7,2019,10,55,9.625000,2019-10,11254439.0
8,2019,11,6,NaN,2019-11,11231137.0
9,2020,2,5,9.580467,2020-02,11091570.0
10,2020,3,4,5.063355,2020-03,11073882.0
11,2020,4,4,5.568353,2020-04,11173608.0
12,2020,5,10,6.362969,2020-05,11309614.0
13,2020,6,72,6.750483,2020-06,11453845.0
14,2020,7,57,8.539670,2020-07,11585294.0
15,2020,8,59,20.539210,2020-08,11715387.0
16,2020,9,21,25.639518,2020-09,11819704.0
17,2020,10,16,NaN,2020-10,11919836.0
18,2020,11,3,NaN,2020-11,12024110.0
19,2020,12,8,NaN,2020-12,12129048.0
20,2021,1,10,19.828424,2021-01,12219131.0
21,2021,3,3,5.042195,2021-03,12371782.0
22,2021,4,10,6.739724,2021-04,12467012.0
23,2021,5,24,6.275901,2021-05,12564836.0
24,2021,6,51,6.274295,2021-06,12626725.0
25,2021,7,36,8.531293,2021-07,12695994.0
26,2021,8,28,19.215579,2021-08,12759281.0
27,2021,9,14,15.786287,2021-09,12816248.0
28,2021,10,9,18.586917,2021-10,12873427.0
29,2021,11,1,22.191185,2021-11,12943074.0
30,2022,1,1,23.750893,2022-01,13232736.0
31,2022,2,2,13.704501,2022-02,13282825.0
32,2022,3,8,6.174958,2022-03,13370350.0
33,2022,4,4,6.316225,2022-04,13445613.0
34,2022,5,17,6.700091,2022-05,13574717.0
35,2022,6,33,6.827763,2022-06,13692880.0
36,2022,7,34,8.432662,2022-07,13931657.0
37,2022,8,25,9.528675,2022-08,14014132.0
38,2022,9,24,10.712849,2022-09,14081474.0
39,2022,10,2,9.046885,2022-10,14144890.0

In [52]:
# rename Count of Enrollees to enrollment
merged.rename(columns={'Count of Enrollees':'enrollment'}, inplace=True)
merged
# add the lnenrollment column
merged['lnenrollment'] = np.log(merged['enrollment'])
merged

,year,month,incident_count,pm25,Enrollment Month,enrollment,lnenrollment
0,2019,1,1,NaN,2019-01,11436025.0,16.252279
1,2019,4,3,8.415966,2019-04,11378198.0,16.247210
2,2019,5,13,9.385656,2019-05,11357031.0,16.245348
3,2019,6,41,13.685315,2019-06,11358916.0,16.245514
4,2019,7,47,12.032832,2019-07,11324535.0,16.242482
5,2019,8,45,9.765110,2019-08,11294600.0,16.239835
6,2019,9,52,9.265423,2019-09,11270336.0,16.237685
7,2019,10,55,9.625000,2019-10,11254439.0,16.236273
8,2019,11,6,NaN,2019-11,11231137.0,16.234201
9,2020,2,5,9.580467,2020-02,11091570.0,16.221696
10,2020,3,4,5.063355,2020-03,11073882.0,16.220100
11,2020,4,4,5.568353,2020-04,11173608.0,16.229065
12,2020,5,10,6.362969,2020-05,11309614.0,16.241164
13,2020,6,72,6.750483,2020-06,11453845.0,16.253836
14,2020,7,57,8.539670,2020-07,11585294.0,16.265247
15,2020,8,59,20.539210,2020-08,11715387.0,16.276414
16,2020,9,21,25.639518,2020-09,11819704.0,16.285279
17,2020,10,16,NaN,2020-10,11919836.0,16.293714
18,2020,11,3,NaN,2020-11,12024110.0,16.302424
19,2020,12,8,NaN,2020-12,12129048.0,16.311114
20,2021,1,10,19.828424,2021-01,12219131.0,16.318513
21,2021,3,3,5.042195,2021-03,12371782.0,16.330929
22,2021,4,10,6.739724,2021-04,12467012.0,16.338597
23,2021,5,24,6.275901,2021-05,12564836.0,16.346413
24,2021,6,51,6.274295,2021-06,12626725.0,16.351326
25,2021,7,36,8.531293,2021-07,12695994.0,16.356797
26,2021,8,28,19.215579,2021-08,12759281.0,16.361769
27,2021,9,14,15.786287,2021-09,12816248.0,16.366224
28,2021,10,9,18.586917,2021-10,12873427.0,16.370676
29,2021,11,1,22.191185,2021-11,12943074.0,16.376071
30,2022,1,1,23.750893,2022-01,13232736.0,16.398204
31,2022,2,2,13.704501,2022-02,13282825.0,16.401982
32,2022,3,8,6.174958,2022-03,13370350.0,16.408550
33,2022,4,4,6.316225,2022-04,13445613.0,16.414163
34,2022,5,17,6.700091,2022-05,13574717.0,16.423720
35,2022,6,33,6.827763,2022-06,13692880.0,16.432387
36,2022,7,34,8.432662,2022-07,13931657.0,16.449674
37,2022,8,25,9.528675,2022-08,14014132.0,16.455577
38,2022,9,24,10.712849,2022-09,14081474.0,16.460371
39,2022,10,2,9.046885,2022-10,14144890.0,16.464864

In [53]:
# run regression analysis of wildfire to pm25, and pm25 to enrollment

import statsmodels.api as sm
from statsmodels.formula.api import ols


# wildfire to pm25
model = ols('pm25 ~ incident_count', data=merged).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   pm25   R-squared:                       0.006
Model:                            OLS   Adj. R-squared:                 -0.025
Method:                 Least Squares   F-statistic:                    0.1837
Date:                Mon, 02 Dec 2024   Prob (F-statistic):              0.671
Time:                        04:28:59   Log-Likelihood:                -110.83
No. Observations:                  35   AIC:                             225.7
Df Residuals:                      33   BIC:                             228.8
Df Model:                           1
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept         11.6351      1.528      7.614      0.000       8.526      14.744
incident_count    -0.0210      0.049     -0.429      0.671      -0.121       0.079
==============================================================================
Omnibus:                        6.668   Durbin-Watson:                   0.696
Prob(Omnibus):                  0.036   Jarque-Bera (JB):                6.280
Skew:                           1.036   Prob(JB):                       0.0433
Kurtosis:                       2.904   Cond. No.                         47.6
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [51]:
# run regression analysis of wildfire to pm25, and pm25 to enrollment

import statsmodels.api as sm
from statsmodels.formula.api import ols


# wildfire to pm25
model = ols('enrollment ~ pm25', data=merged).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             enrollment   R-squared:                       0.003
Model:                            OLS   Adj. R-squared:                 -0.027
Method:                 Least Squares   F-statistic:                   0.09698
Date:                Mon, 02 Dec 2024   Prob (F-statistic):              0.757
Time:                        04:27:55   Log-Likelihood:                -533.21
No. Observations:                  35   AIC:                             1070.
Df Residuals:                      33   BIC:                             1074.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   1.228e+07   3.79e+05     32.392      0.000    1.15e+07    1.31e+07
pm25        9417.0128   3.02e+04      0.311      0.757   -5.21e+04    7.09e+04
==============================================================================
Omnibus:                       10.610   Durbin-Watson:                   0.018
Prob(Omnibus):                  0.005   Jarque-Bera (JB):                2.930
Skew:                           0.279   Prob(JB):                        0.231
Kurtosis:                       1.697   Cond. No.                         27.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [54]:
# wildfire to pm25
model = ols('lnenrollment ~ pm25', data=merged).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           lnenrollment   R-squared:                       0.004
Model:                            OLS   Adj. R-squared:                 -0.026
Method:                 Least Squares   F-statistic:                    0.1420
Date:                Mon, 02 Dec 2024   Prob (F-statistic):              0.709
Time:                        04:29:13   Log-Likelihood:                 38.630
No. Observations:                  35   AIC:                            -73.26
Df Residuals:                      33   BIC:                            -70.15
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     16.3188      0.030    536.383      0.000      16.257      16.381
pm25           0.0009      0.002      0.377      0.709      -0.004       0.006
==============================================================================
Omnibus:                       13.057   Durbin-Watson:                   0.019
Prob(Omnibus):                  0.001   Jarque-Bera (JB):                2.996
Skew:                           0.216   Prob(JB):                        0.224
Kurtosis:                       1.633   Cond. No.                         27.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [56]:
# wildfire to pm25
model = ols('lnenrollment ~ incident_count', data=merged).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             enrollment   R-squared:                       0.041
Model:                            OLS   Adj. R-squared:                  0.016
Method:                 Least Squares   F-statistic:                     1.638
Date:                Mon, 02 Dec 2024   Prob (F-statistic):              0.208
Time:                        04:31:25   Log-Likelihood:                -607.25
No. Observations:                  40   AIC:                             1219.
Df Residuals:                      38   BIC:                             1222.
Df Model:                           1
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept       1.252e+07   2.26e+05     55.376      0.000    1.21e+07     1.3e+07
incident_count -9887.1273   7724.384     -1.280      0.208   -2.55e+04    5750.070
==============================================================================
Omnibus:                        4.193   Durbin-Watson:                   0.047
Prob(Omnibus):                  0.123   Jarque-Bera (JB):                2.379
Skew:                           0.362   Prob(JB):                        0.304
Kurtosis:                       2.049   Cond. No.                         43.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.